<h1><%= @user.name %> Recipes</h1>
<div class="helper_links"><%= link_to "Add new recipe", new_user_recipe_path(@user) %></div>

<ul>
<% @recipes.each do |recipe| %>
  <li><%= link_to recipe.name, user_recipe_path(@user, recipe) %></li>
<% end %>
</ul>

