<h1>All users</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Links</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>  
      <tr>
        <th scope="row"><%= link_to user.name, user_path(user) %></th>
        <td><small><%= link_to 'Edit', edit_user_path(user), class:'text-muted' %> | <%= link_to "Delete", user_path(user), method: :delete, class:'text-muted', data: { confirm: "Are you sure?" } %></small></td>
      </tr>  
    <% end %>
  </tbody>  
</table>