<div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <%= link_to '+ Add Recipe', new_user_recipe_path(@user) %>
          </li>
          <li class="nav-item">
            <%= link_to '+ Add Ingredient Cost', new_user_ingredient_path(@user) %>
          </li>
          <li class="nav-item">
            <%= link_to '- Edit Account', edit_user_path(@user) %>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <h1><%= @user.name %> Dashboard</h1>

      <p>More to come!</p>
    </main>
  </div>