<% if object.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h3>
      <%= pluralize(object.errors.count, "error").titleize %>
      detected:
    </h3>
 
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>