  <div class="jumbotron bg-white">
    <h1 class="display-4">Price recipes easily and quickly!</h1>
    <p class="lead">Recipe Costs helps you to record your recipes and ingredient costs in one location.</p>
    <hr class="my-4">
    <p>Join us now to find out how much your recipes cost!</p>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a> or <a class="btn btn-primary btn-lg" href="/users/new" role="button">Sign Up</a>
  </div>
