  <div class="jumbotron bg-white">
    <h1 class="display-4">Price recipes easily and quickly!</h1>
    <p class="lead">Recipe Costs helps you record your recipes and ingredient costs in one place.</p>
    <hr class="my-4">
    <p>Join us now to find out how much your recipes cost!</p>
    <a class="btn btn-primary btn-lg" href="<%= login_path %>" role="button">Log In</a> &nbsp; or &nbsp;     
     <a class="btn btn-primary btn-lg" href="<%= new_user_path %>" role="button">Sign Up</a>
  </div>
